/*
 * "BIZ UDPGothic" is lisenced under the SIL Open Font License 1.1. (http://scripts.sil.org/OFL)
 * https://fonts.google.com/specimen/BIZ+UDPGothic/about
 */
@font-face {
  font-family: 'Noto Sans JP';
  src: url('/static/fonts/NotoSansJP-Regular.woff2') format('woff2');
  font-display: swap;
}
body {
  padding-top: 74px;
  font-family: 'Noto Sans JP', sans-serif;
}
#mapid {
  height: 400px;
}
#pediatrics_mapid {
  height: 400px;
}
.patients-table {
  max-height: 400px;
}
.map_primary_icon {
  color: #0017C1;
  background-color: transparent;
  font-size: 32px;
}
.map_warning_icon {
  color: #C16800;
  background-color: transparent;
  font-size: 32px;
}
.map_danger_icon {
  color: #EC0000;
  background-color: transparent;
  font-size: 32px;
}
.leaflet-popup-content-wrapper {
  font-family: 'Noto Sans JP', sans-serif;
  max-width: 240px;
}
.leaflet-container a {
  color: #0017C1;
}
