/*
 * "BIZ UDPGothic" is lisenced under the SIL Open Font License 1.1. (http://scripts.sil.org/OFL)
 * https://fonts.google.com/specimen/BIZ+UDPGothic/about
 */
@font-face {
  font-family: 'BIZ UDPGothic';
  src: url('/static/fonts/BIZUDPGothic-Regular.ttf') format('truetype');
}
body {
  padding-top: 88px;
  font-family: 'BIZ UDPGothic', sans-serif;
}
#mapid {
  height: 480px;
}
#pediatrics_mapid {
  height: 480px;
}
.patients-table {
  max-height: 420px;
}
.map_primary_icon {
  color: #1976D2;
  background-color: transparent;
  font-size: 32px;
}
.map_warning_icon {
  color: #FBC02D;
  background-color: transparent;
  font-size: 32px;
}
.map_danger_icon {
  color: #D32F2F;
  background-color: transparent;
  font-size: 32px;
}
.bgx-primary {
  color: #FFF;
  background-color: #64B5F6;
}
