{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h5 text-center m-4">旭川市非公式新型コロナウイルスまとめサイトについて</h1>
  <div class="card m-4">
    <div class="card-body p-4">
      <h2 class="h6 card-title mb-4">このサイトについて</h2>
      <p class="card-text">旭川市が公式ホームページで公表している新型コロナウイルスの情報を、機械判読しやすい形に変換したものを公開しています。</p>
      <p class="card-text">また、旭川市の新型コロナワクチン接種医療機関、新型コロナ発熱外来の情報を、地図から探すことができる検索アプリも公開していますので、旭川の方はもとより、お引越しで新たに旭川に来られた方にぜひ使っていただきたいです。</p>
    </div>
  </div>
  <div class="card m-4">
    <div class="card-body p-4">
      <section>
        <h2 class="h6 card-title mb-4">データのライセンス</h2>
        <p class="card-text"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="クリエイティブ・コモンズ・ライセンス" border=0 src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
        <p class="card-text">このサイトのデータは <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank" class="external-link">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス </a>の下に提供されています。</p>
      </section>
    </div>
  </div>
  <div class="card m-4">
    <div class="card-body p-4">
      <h2 class="h6 card-title mb-4">利用者の情報の収集について</h2>
      <p class="card-text">このサイトの利用状況を把握するためにGoogleアナリティクスを利用しています。Googleアナリティクスは、Cookieを利用して利用者の情報を収集します。詳細については、<a href="https://policies.google.com/technologies/partner-sites?hl=ja" title="Googleのサービスを使用するサイトやアプリから収集した情報のGoogleによる使用へ" target="_blank" class="external-link">Googleのサービスを使用するサイトやアプリから収集した情報のGoogleによる使用 </a>をご覧ください。</p>
    </div>
  </div>
  <div class="card m-4">
    <div class="card-body p-4">
      <section>
        <h2 class="h6 card-title mb-4">免責事項</h2>
        <p class="card-text">当サイトは個人が開発・運用しているものであり、旭川市とは一切関係ありません。内容の正確性も保証できませんので、利用の際はご注意ください。また、当サイトの開発・運用者は、利用者がこのサイトのデータを用いて行う一切の行為について責任を負うものではありません。</p>
        <p class="card-text">当サイトについてのお問い合わせについては、<a href="https://github.com/takedah/ash_unofficial_covid19/issues" title="Github Issues" target="_blank" class="external-link">GithubのIssues </a>からお願いします。</p>
      </section>
    </div>
  </div>
</article>
{% endblock %}
