{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h4">旭川市新型コロナウイルスまとめサイトについて</h1>
  <div class="card mt-3">
    <div class="card-body">
      <h2 class="h5 card-title">このサイトについて</h2>
      <p class="card-text">旭川市が公式ホームページで公表している新型コロナウイルスの情報を、機械判読しやすい形に変換したものを公開しています。</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h2 class="h5 card-title">更新情報</h2>
      <p class="card-text">旭川市の毎日の新型コロナウイルス感染者数の更新情報を<a href="/rss.xml" title="このサイトのRSS Feed">RSS 2.0</a>と<a href="/atom.xml" title="このサイトのAtom Feed">Atom 1.0</a>で配信しています。</p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">データのライセンス</h2>
        <p class="card-text"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="クリエイティブ・コモンズ・ライセンス" border=0 src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />この サイトのデータ は <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>の下に提供されています。</p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">免責事項</h2>
        <p class="card-text">当サイトは個人が開発・運用しているものであり、旭川市とは一切関係ありません。内容の正確性も保証できませんので、利用の際はご注意ください。また、当サイトの開発・運用者は、利用者がこのサイトのデータを用いて行う一切の行為について責任を負うものではありません。</p>
        <p class="card-text">当サイトについてのお問い合わせはGithubのissue (<a href="https://github.com/takedah/ash_unofficial_covid19/issues" title="takedah/ash_unofficial_covid19" target="_blank">takedah/ash_unofficial_covid19</a>) までお願いします。</p>
      </section>
    </div>
  </div>
</article>
{% endblock %}
