<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0">
        <nav class="m-4">
          <div class="h6">Contents</div>
          <div class="list-group list-group-flush small">
            <a href="/" title="トップページへ" class="list-group-item list-group-item-action">トップページ</a>
            <a href="/about" title="このサイトについてへ" class="list-group-item list-group-item-action">このサイトについて</a>
            <a href="/outpatients" title="旭川市新型コロナ発熱外来検索へ" class="list-group-item list-group-item-action">発熱外来検索</a>
            <a href="/reservation_statuses" title="旭川市コロナワクチン接種医療機関検索へ" class="list-group-item list-group-item-action">ワクチン接種医療機関検索</a>
            <a href="/opendata" title="旭川市新型コロナウイルス感染症非公式オープンデータへ" class="list-group-item list-group-item-action">非公式オープンデータ</a>
            <a href="/past" title="旭川市内新型コロナウイルス感染症のこれまでの感染動向へ" class="list-group-item list-group-item-action">これまでの感染動向</a>
          </div>
        </nav>
      </div>
      <div class="col-md-6 p-0">
        <nav class="m-4">
          <div class="h6">Links</div>
          <div class="list-group list-group-flush small">
            <a href="https://www.city.asahikawa.hokkaido.jp/10013/10014/070236.html" title="新型コロナウイルス感染症関連情報（旭川市公式ホームページ）へ" class="list-group-item list-group-item-action external-link" target="_blank">新型コロナウイルス感染症関連情報（旭川市公式ホームページ）</a>
            <a href="https://asahikawa-vaccine.jp/" title="旭川市新型コロナワクチン接種特設サイト（旭川市公式ホームページ）へ" class="list-group-item list-group-item-action external-link" target="_blank">旭川市新型コロナワクチン接種特設サイト（旭川市公式ホームページ）</a>
            <a href="https://www.pref.hokkaido.lg.jp/hf/kst/youkou.html" title="外来対応医療機関（発熱外来）について（北海道公式ホームページ）" class="list-group-item list-group-item-action external-link" target="_blank">外来対応医療機関（発熱外来）について（北海道公式ホームページ）</a>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="d-flex flex-row justify-content-center p-4">
        <div class="p-1"><a href="https://github.com/takedah/ash_unofficial_covid19" target="_blank" rel="nofollow" title="このサイトのGithubページへ"><img src="{{ url_for('static', filename='images/GitHub-Mark-32px.png') }}" alt="このサイトのGithubページへ" title="このサイトのGithubページへ" width="32" height="32"></a></div>
        <div class="p-1"><a href="https://twitter.com/share?url=https://covid19.asahikawa-opendata.morori.jp/" target="_blank" rel="nofollow" title="このサイトをTwitterでシェア"><img src="{{ url_for('static', filename='images/Twittersocialicons-circle-blue.png') }}" alt="このサイトをTwitterでシェア" title="このサイトをTwitterでシェア" width="32" height="32"></a></div>
        <div class="p-1"><a href="http://www.facebook.com/share.php?u=https://covid19.asahikawa-opendata.morori.jp/" target="_blank" rel="nofollow" title="このサイトをFacebookでシェア"><img src="{{ url_for('static', filename='images/f_logo_RGB-Blue_58.png') }}" alt="このサイトをFacebookでシェア" title="このサイトをFacebookでシェア" width="32" height="32"></a></div>
      </div>
    </div>
  </div>
</footer>
