{% extends 'layout.html' %}
{% block content %}
<article>
    <h1 class="h4 pt-3">旭川市内の新型コロナウイルス感染症の最新動向<strong class="small">（ {{ last_updated }} 現在）</strong></h1>
    <div class="card-group m-3">
        <div class="card">
            <div class="card-header">
                新規陽性患者数（日別）
            </div>
            <div class="card-body">
                <p><img src="./day_per_patients.png" alt="{{ page_data["day_graph_alt"] }}" title="新規陽性患者数（日別）の推移" class="img-fluid"></p>
                <p class="card-text text-right mb-0">{{ yesterday }} の新規患者数 <strong class="display-4">{{ page_data["yesterday_patients_number"] }}</strong>人</p>
                <p class="card-text text-right">（前日 {{ page_data["increase_of_day_before_yesterday"] }}人）</p>
            </div>
            <div class="card-footer text-muted bg-white">
                <p class="card-text small">出典: <a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d068529.html" title="旭川市公式ホームページ" class="text-muted">旭川市公式ホームページ <i class="fas fa-external-link-alt"></i></a> 最終更新: {{ last_updated }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                累計陽性患者数（月別）
            </div>
            <div class="card-body">
                <p><img src="./month_total_patients.png" alt="{{ page_data["month_total_graph_alt"] }}" title="累計陽性患者数（月別）の推移" class="img-fluid"></p>
                <p class="card-text text-right mb-0">昨日までの累計患者数 <strong class="display-4">{{ page_data["total_patients_number"] }}</strong>人</p>
                <p class="card-text text-right">（先月 {{ page_data["increase_of_total"] }}人）</p>
            </div>
            <div class="card-footer text-muted bg-white">
                <p class="card-text small">出典: <a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d068529.html" title="旭川市公式ホームページ" class="text-muted">旭川市公式ホームページ <i class="fas fa-external-link-alt"></i></a> 最終更新: {{ last_updated }}</p>
            </div>
        </div>
    </div>
    <div class="card-group m-3">
        <div class="card">
            <div class="card-header">
                年代別陽性患者数の割合
            </div>
            <div class="card-body">
                <p><img src="./patients_number_by_age.png" alt="{{ page_data["by_age_graph_alt"] }}" title="年代別陽性患者数の割合" class="img-fluid"></p>
            </div>
            <div class="card-footer text-muted bg-white">
                <p class="card-text small">出典: <a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d068529.html" title="旭川市公式ホームページ" class="text-muted">旭川市公式ホームページ <i class="fas fa-external-link-alt"></i></a> 最終更新: {{ last_updated }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                1日あたり新規患者数の7日間移動平均
            </div>
            <div class="card-body">
                <p><img src="./seven_days_moving_average.png" alt="{{ page_data["moving_average_graph_alt"] }}" title="1日あたり新規患者数の7日間移動平均の推移" class="img-fluid"></p>
                <p class="card-text text-right mb-0">1日あたり新規患者数の7日間移動平均 <strong class="display-4">{{ page_data["this_seven_days_average"] }}</strong>人</p>
                <p class="card-text text-right">（先週 {{ page_data["increase_of_average"] }}人）</p>
            </div>
            <div class="card-footer text-muted bg-white">
                <p class="card-text small">出典: <a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d068529.html" title="旭川市公式ホームページ" class="text-muted">旭川市公式ホームページ <i class="fas fa-external-link-alt"></i></a> 最終更新: {{ last_updated }}</p>
            </div>
        </div>
    </div>
</article>
{% endblock %}
