<!doctype html>
<html lang="ja">
  <head>
    {% if gtag_id is not none %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag_id }}"></script>
    <script nonce="Pbq-X7F-632oxHhPe6mzMC-LHYE">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ gtag_id }}');
    </script>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://covid19.asahikawa-opendata.morori.jp/">
    <meta property="og:title" content="旭川市新型コロナウイルスまとめサイト">
    <meta property="og:description" content="旭川市の新型コロナウイルス感染症新規感染者数などの情報を集計してグラフとデータで公開しています。また、旭川市の新型コロナワクチン接種医療機関の場所や予約受付状況などの情報を地図上で検索できるページもありますので、ワクチン接種医療機関をお探しの際にぜひご活用ください。">
    <meta property="og:image" content="https://covid19.asahikawa-opendata.morori.jp/month_total_for_card.png">
    <title>{{ title }} | 旭川市新型コロナウイルスまとめサイト</title>
    <link rel="alternate" type="application/atom+xml" title="旭川市内感染状況の最新動向 | 旭川市新型コロナウイルスまとめサイト" href="/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="旭川市内感染状況の最新動向 | 旭川市新型コロナウイルスまとめサイト" href="/rss.xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% if leaflet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous"></script>
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
  </head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-dark bgx-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/title.png') }}" alt="STOP COVID-19 ASAHIKAWA 新型コロナウイルスまとめサイト" title="STOP COVID-19 ASAHIKAWA 新型コロナウイルスまとめサイト" width="180" height="40"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a href="/" title="旭川市新型コロナウイルス感染症状況の最新動向へ" class="nav-link text-white">旭川市内感染状況の最新動向</a></li>
              <li class="nav-item"><a href="/about" title="旭川市新型コロナウイルスまとめサイトについてへ" class="nav-link text-white">このサイトについて</a></li>
              <li class="nav-item"><a href="/reservation_statuses" title="旭川市コロナワクチンマップ（追加接種（オミクロン対応ワクチン））へ" class="nav-link text-white">コロナワクチンマップ（追加接種（オミクロン対応ワクチン））</a></li>
              <li class="nav-item"><a href="/first_reservation_statuses" title="旭川市コロナワクチンマップ（1・2回目接種）へ" class="nav-link text-white">コロナワクチンマップ（1・2回目接種）</a></li>
              <li class="nav-item"><a href="/child_reservation_statuses" title="旭川市コロナワクチンマップ（5歳から11歳接種）へ" class="nav-link text-white">コロナワクチンマップ（5歳から11歳接種）</a></li>
              <li class="nav-item"><a href="/opendata" title="旭川市新型コロナウイルス感染症非公式オープンデータへ" class="nav-link text-white">非公式オープンデータ</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 order-md-2 mb-3">
            {% block content %}
            <!-- contents -->
            {% endblock %}
          </div>
          <div class="col-md-3 order-md-1">
            <nav>
              <div class="list-group list-group-flush">
                <a href="/" title="旭川市新型コロナウイルス感染症状況の最新動向へ" class="list-group-item list-group-item-action"> 旭川市内感染状況の最新動向</a>
                <a href="/about" title="このサイトについてへ" class="list-group-item list-group-item-action">このサイトについて</a>
                <a href="/reservation_statuses" title="旭川市コロナワクチンマップ（追加接種（オミクロン対応ワクチン））へ" class="list-group-item list-group-item-action">コロナワクチンマップ（追加接種（オミクロン対応ワクチン））</a>
                <a href="/first_reservation_statuses" title="旭川市コロナワクチンマップ（1・2回目接種）へ" class="list-group-item list-group-item-action">コロナワクチンマップ（1・2回目接種）</a>
                <a href="/child_reservation_statuses" title="旭川市コロナワクチンマップ（5歳から11歳接種）へ" class="list-group-item list-group-item-action">コロナワクチンマップ（5歳から11歳接種）</a>
                <a href="/opendata" title="旭川市新型コロナウイルス感染症非公式オープンデータへ" class="list-group-item list-group-item-action">非公式オープンデータ</a>
                <a href="https://www.city.asahikawa.hokkaido.jp/10013/10014/070236.html" title="新型コロナウイルス感染症関連情報（旭川市公式ホームページ）へ" class="list-group-item list-group-item-action" target="_blank">新型コロナウイルス感染症関連情報（旭川市公式ホームページ） <i class="fas fa-external-link-alt"></i></a>
                <a href="https://asahikawa-vaccine.jp/" title="旭川市新型コロナワクチン接種特設サイト（旭川市公式ホームページ）へ" class="list-group-item list-group-item-action" target="_blank">旭川市新型コロナワクチン接種特設サイト（旭川市公式ホームページ） <i class="fas fa-external-link-alt"></i></a>
              </div>
            </nav>
            <div class="d-flex flex-row justify-content-center mt-2">
              <div class="p-1"><a href="https://twitter.com/share?url=https://covid19.asahikawa-opendata.morori.jp/" target="_blank" rel="nofollow"><img src="{{ url_for('static', filename='images/Twittersocialicons-circle-blue.png') }}" alt="このサイトをTwitterでシェア" title="このサイトをTwitterでシェア" width="32" height="32"></a></div>
              <div class="p-1"><a href="http://www.facebook.com/share.php?u=https://covid19.asahikawa-opendata.morori.jp/" target="_blank" rel="nofollow"><img src="{{ url_for('static', filename='images/f_logo_RGB-Blue_58.png') }}" alt="このサイトをFacebookでシェア" title="このサイトをFacebookでシェア" width="32" height="32"></a></div>
              <div class="p-1">
                <div class="line-it-button" data-lang="ja" data-type="share-c" data-env="REAL" data-url="https://covid19.asahikawa-opendata.morori.jp/" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/af6896cda7.js" crossorigin="anonymous" async="async" defer="defer"></script>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </body>
</html>
