<!doctype html>
<html lang="ja">
{% filter indent %}
{% include 'head.html' %}
{% endfilter %}
  <body>
{% filter indent %}
{% include 'header.html' %}
{% endfilter %}
    <main>
      <div class="alert alert-success alert-dismissible fade show m-4" role="alert">
        <p class="small mb-0">{{ last_updated }}にダウンロードしたデータを元に表示しています。最新の情報は<a class="alert-link external-link" href="https://asahikawa-vaccine.jp/" title="旭川市 新型コロナワクチン接種特設サイト" target="_blank">旭川市 新型コロナワクチン接種特設サイト</a>を確認してください。</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
{% filter indent(6, True) %}
{% block content %}<!-- contents -->{% endblock %}
{% endfilter %}
      <div class="card m-4">
        <div class="card-body p-4">
          <p class="text-center p-1"><a href="/reservation_statuses" title="旭川市コロナワクチン接種医療機関検索へ"><img src="{{ url_for('static', filename='images/medicine_line.svg') }}" alt="薬を表すアイコン" width="48" height="48"></a></p>
          <p class="text-center mb-0"><a href="/reservation_statuses" title="旭川市コロナワクチン接種医療機関検索へ" class="link-primary">旭川市のワクチン接種医療機関検索</a></p>
        </div>
      </div>
    </main>
{% filter indent %}
{% include 'footer.html' %}
{% endfilter %}
    <script charset="utf-8" src="{{ url_for('static', filename='js/show_map_reservation.js') }}"></script>
  </body>
</html>