<!doctype html>
<html lang="ja">
  <head>
    {% if gtag_id is not none %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag_id }}"></script>
    <script nonce="Pbq-X7F-632oxHhPe6mzMC-LHYE">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ gtag_id }}');
    </script>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://ash-unofficial-covid19.herokuapp.com/">
    <meta property="og:title" content="旭川市新型コロナウイルスまとめサイト">
    <meta property="og:description" content="旭川市の報道発表資料から、新型コロナウイルス感染症の日別新規感染者数、１週間の人口10万人あたり新規感染者数などをほぼリアルタイムでグラフに集計して公開しています。併せて集計した新型コロナウイルス感染症の情報を機械判読しやすい形に変換したデータも公開しています。また、新型コロナワクチン接種医療機関の予約受付状況などの情報を地域別に整理したページも公開しています。">
    <meta property="og:image" content="https://ash-unofficial-covid19.herokuapp.com/daily_total_for_card.png">
    <title>{{ title }} | 旭川市新型コロナウイルスまとめサイト</title>
    <link rel="alternate" type="application/atom+xml" title="旭川市内感染状況の最新動向" href="/atom.xml">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% if leaflet %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous"></script>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/title.png') }}" alt="COVID-19 ASAHIKAWA 新型コロナウイルスまとめサイト" title="COVID-19 ASAHIKAWA 新型コロナウイルスまとめサイト" width="256" height="56"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" title="旭川市新型コロナウイルス感染症状況の最新動向へ" class="nav-link small">旭川市内感染状況の最新動向</a>
            </li>
            <li class="nav-item">
              <a href="/about" title="旭川市新型コロナウイルスまとめサイトについてへ" class="nav-link small">このサイトについて</a>
            </li>
            <li class="nav-item">
              <a href="/reservation_statuses" title="旭川市新型コロナワクチン3回目接種医療機関マップへ" class="nav-link small">ワクチン3回目接種医療機関マップ</a>
            </li>
            <li class="nav-item">
              <a href="/opendata" title="旭川市新型コロナウイルス感染症非公式オープンデータへ" class="nav-link small">非公式オープンデータ</a>
            </li>
            <li class="nav-item">
              <a href="/patients" title="旭川市新型コロナウイルス感染者の状況へ" class="nav-link small">感染者の状況</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="mb-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 order-md-2 mb-3">
            {% block content %}
            <!-- contents -->
            {% endblock %}
          </div>
          <div class="col-md-3 order-md-1">
            <nav>
              <div class="list-group list-group-flush">
                <a href="/" title="旭川市新型コロナウイルス感染症状況の最新動向へ" class="list-group-item list-group-item-action font-weight-bold text-danger"> 旭川市内感染状況の最新動向</a>
                <a href="/about" title="このサイトについてへ" class="list-group-item list-group-item-action">このサイトについて</a>
                <a href="/reservation_statuses" title="旭川市新型コロナワクチン3回目接種医療機関マップへ" class="list-group-item list-group-item-action">ワクチン3回目接種医療機関マップ</a>
                <a href="/opendata" title="旭川市新型コロナウイルス感染症非公式オープンデータへ" class="list-group-item list-group-item-action">非公式オープンデータ</a>
                <a href="/patients" title="旭川市新型コロナウイルス感染症患者の状況へ" class="list-group-item list-group-item-action">感染者の状況</a>
                <a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d068529.html" title="新型コロナウイルス感染症の市内発生状況（旭川市公式ホームページ）へ" class="list-group-item list-group-item-action" target="_blank">新型コロナウイルス感染症の市内発生状況（旭川市公式ホームページ）</a>
                <a href="https://asahikawa-vaccine.jp/" title="旭川市新型コロナワクチン接種特設サイト（旭川市公式ホームページ）へ" class="list-group-item list-group-item-action" target="_blank">旭川市新型コロナワクチン接種特設サイト（旭川市公式ホームページ）</a>
              </div>
            </nav>
            <ul class="list-inline text-center mt-2">
              <li class="list-inline-item"><a href="https://twitter.com/share?url=https://ash-unofficial-covid19.herokuapp.com/" target="_blank" rel="nofollow"><img src="{{ url_for('static', filename='images/Twittersocialicons-circle-blue.png') }}" alt="このサイトをTwitterでシェア" title="このサイトをTwitterでシェア" width="32" height="32"></a></li>
              <li class="list-inline-item"><a href="http://www.facebook.com/share.php?u=https://ash-unofficial-covid19.herokuapp.com/" target="_blank" rel="nofollow"><img src="{{ url_for('static', filename='images/f_logo_RGB-Blue_58.png') }}" alt="このサイトをFacebookでシェア" title="このサイトをFacebookでシェア" width="32" height="32"></a></li>
              <li class="list-inline-item"><a href="https://github.com/takedah/ash_unofficial_covid19" title="takedah/ash_unofficial_covid19" target="_blank"><img src="{{ url_for('static', filename='images/GitHub-Mark-32px.png') }}" alt="このサイトのGithubプロジェクト" title="このサイトのGithubプロジェクト" width="32" height="32"></a></li>
            </ul>
            <p class="text-center"><script type="text/javascript" src="https://minmoji.ucda.jp/sealjs/https%3A__ash-unofficial-covid19.herokuapp.com_" charset="UTF-8"></script></p>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
