{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h5">旭川市新型コロナワクチン接種医療機関（{{ medical_institution.target_age }}）</h1>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p class="mb-0">{{ reservation_status_updated }}にダウンロードしたデータを元に表示しています。正確な情報は必ず<a class="alert-link" href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/146/149/d072466.html" title="旭川市公式ホームページ" target="_blank">旭川市公式ホームページ</a>を確認してください。</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">{{ medical_institution.name }}の情報</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody id="results" data-latitude="{{ medical_institution.latitude|tojson }}" data-longitude="{{ medical_institution.longitude|tojson }}" data-name="{{ medical_institution.name|safe }}">
              <tr>
                <th>医療機関名</th>
                <td>{{ medical_institution.name }}</td>
              </tr>
              <tr>
                <th>住所</th>
                <td>{{ medical_institution.address }}</td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td>{{ medical_institution.phone_number }}</td>
              </tr>
              <tr>
                <th>予約受付状況</th>
                <td>{{ medical_institution.status }}</td>
              </tr>
              <tr>
                <th>予約対象者</th>
                <td>{{ medical_institution.target_person }}</td>
              </tr>
              <tr>
                <th>接種時期・時間</th>
                <td>{{ medical_institution.inoculation_time }}</td>
              </tr>
              <tr>
                <th>かかりつけの医療機関で予約</th>
                <td>{{ "OK" if medical_institution.book_at_medical_institution else "NG"}}</td>
              </tr>
              <tr>
                <th>コールセンターやインターネットで予約</th>
                <td>{{ "OK" if medical_institution.book_at_call_center else "NG"}}</td>
              </tr>
              <tr>
                <th>備考</th>
                <td>
                  {% if not medical_institution.memo == "" %}
                  {{ medical_institution.memo }}
                  {% endif %}
                  {% if not medical_institution.reservation_status_memo == "" %}
                  {{ medical_institution.reservation_status_memo }}
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">医療機関の地図</h2>
        <p class="card-text">地図の表示はあくまで目安ですので、正確な場所の情報は、各医療機関のホームページ等で確認してください。</p>
        <div id="mapid" class="mb-3"></div>
        <p class="card-text">医療機関の位置情報は、<a href="https://developer.yahoo.co.jp/webapi/map/" title="Yahoo! Open Local Platform" target="_blank">Yahoo! Open Local Platform (YOLP) </a>のYahoo!ローカルサーチAPIを使用して取得しています。</p>
        <p class="card-text">
          <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
          <a href="https://developer.yahoo.co.jp/sitemap/">
            <img src="https://s.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN" alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0"></a>
          <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
        </p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">他の地域から新型コロナワクチン接種医療機関を探す</h2>
        <p class="card-text">探したい地域を以下のリストから選ぶことができます。</p>
        <div class="card-group mt-3">
          <div class="card">
            <div class="card-body">
              <h3 class="h6 card-title">16歳以上が対象の医療機関</h3>
              <div class="list-group-flush">
                {% for area in above_16_area_list %}
                <a href="/medical_institutions/areas/{{ area[1] }}" title="{{ area[0] }}の新型コロナワクチン接種医療機関一覧（16歳以上）へ" class="list-group-item list-group-item-action text-primary">{{ area[0] }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3 class="h6 card-title">12歳から15歳までが対象の医療機関</h3>
              <div class="list-group-flush">
                {% for area in below_15_area_list %}
                <a href="/medical_institutions/areas/pediatrics/{{ area[1] }}" title="{{ area[0] }}の新型コロナワクチン接種医療機関一覧（12歳から15歳まで）へ" class="list-group-item list-group-item-action text-primary">{{ area[0] }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</article>
<script charset="utf-8" src="{{ url_for('static', filename='js/show_map_individual.js') }}"></script>
{% endblock %}
