{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h4">旭川市新型コロナワクチン接種医療機関一覧</h1>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p class="mb-0">{{ last_updated }}にダウンロードしたデータを元に表示しています。正確な情報は必ず<a class="alert-link" href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/146/149/d073389.html" title="旭川市公式ホームページ" target="_blank">旭川市公式ホームページ</a>を確認してください。</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">地域を選択</h2>
        <p class="card-text">以下のリンクから地域ごとの新型コロナワクチン接種医療機関の一覧と地図を確認できます。</p>
        <div class="card-group mt-3">
          <div class="card">
            <div class="card-body">
              <h3 class="h6 card-title">16歳以上が対象の医療機関</h3>
              <div class="list-group-flush">
                {% for area in above_16_area_list %}
                <a href="/medical_institutions/areas/{{ area[1] }}" title="{{ area[0] }}の新型コロナワクチン接種医療機関一覧（16歳以上）へ" class="list-group-item list-group-item-action text-primary">{{ area[0] }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3 class="h6 card-title">12歳から15歳までが対象の医療機関</h3>
              <div class="list-group-flush">
                {% for area in below_15_area_list %}
                <a href="/medical_institutions/areas/pediatrics/{{ area[1] }}" title="{{ area[0] }}の新型コロナワクチン接種医療機関一覧（12歳から15歳まで）へ" class="list-group-item list-group-item-action text-primary">{{ area[0] }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h4 class="h5 card-title">医療機関名一覧</h4>
        <p class="card-text">以下のリンクから新型コロナワクチン接種医療機関の詳細情報を確認できます。</p>
        <div class="card-group mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="h6 card-title">16歳以上が対象の医療機関</h5>
              <div id="results" data-length="{{ above_16_medical_institutions_number|tojson }}" class="list-group-flush">
                {% for medical_institution in above_16_medical_institutions %}
                <a href="/medical_institution/{{ medical_institution[1] }}" title="{{ medical_institution[0].name }}（16歳以上）の詳細へ" id="order{{ loop.index }}" data-latitude="{{ medical_institution[0].latitude|tojson }}" data-longitude="{{ medical_institution[0].longitude|tojson }}" data-name="{{ medical_institution[0].name|safe }}" data-url="{{ medical_institution[1]|safe }}" class="list-group-item list-group-item-action text-primary">{{ medical_institution[0].name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="h6 card-title">12歳から15歳までが対象の医療機関</h5>
              <div id="pediatrics_results" data-length="{{ below_15_medical_institutions_number|tojson }}" class="list-group-flush">
                {% for medical_institution in below_15_medical_institutions %}
                <a href="/medical_institution/pediatrics/{{ medical_institution[1] }}" title="{{ medical_institution[0].name }}（12歳から15歳まで）の詳細へ" id="pediatrics_order{{ loop.index }}" data-latitude="{{ medical_institution[0].latitude|tojson }}" data-longitude="{{ medical_institution[0].longitude|tojson }}" data-name="{{ medical_institution[0].name|safe }}" data-url="/pediatrics/{{ medical_institution[1]|safe }}" class="list-group-item list-group-item-action text-primary">{{ medical_institution[0].name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">新型コロナワクチン接種医療機関一覧CSVをダウンロード</h2>
        <p class="card-text">旭川市公式ホームページに掲載の新型コロナワクチン接種医療機関一覧をCSVファイルでダウンロードできるようにしました。 </p>
        <p class="card-text"><a href="/012041_asahikawa_covid19_medical_institutions.csv" title="旭川市新型コロナワクチン接種医療機関一覧CSVファイルをダウンロード" class="btn btn-primary">新型コロナワクチン接種医療機関一覧CSVをダウンロード</a></p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h3 class="h5 card-title">新型コロナワクチン接種医療機関一覧CSVファイルのURL</h3>
        <div class="input-group">
          <input id="csv-url" type="text" class="form-control" value="https://ash-unofficial-covid19.herokuapp.com/012041_asahikawa_covid19_medical_institutions.csv">
        </div>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">データのライセンス</h2>
        <p class="card-text"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="クリエイティブ・コモンズ・ライセンス" border=0 src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />この サイトのデータ は <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>の下に提供されています。</p>
      </section>
    </div>
  </div>
</article>
<script charset="utf-8" src="{{ url_for('static', filename='js/select_input.js') }}"></script>
{% endblock %}
