{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h4 py-3">感染者の状況（非公式オープンデータ）</h1>
  <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <p class="mb-0">{{ asahikawa_patients.last_updated }}にダウンロードしたデータを元に表示しています。正確な情報は必ず<a class="alert-link" href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d068529.html" title="旭川市公式ホームページ" target="_blank">旭川市公式ホームページ</a>を確認してください。</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">非公式オープンデータ（陽性患者属性CSV）をダウンロード</h2>
        <p>旭川市公式ホームページの新型コロナウイルス感染症の市内発生状況のデータから、<a href="https://www.code4japan.org/" title="Code for Japan" target="_blank">Code for Japan</a>の陽性患者属性データセットに基づいたCSV形式のテキストファイルを作成し、非公式のオープンデータとしてダウンロードできるようにしました。</p>
        <p><a href="/012041_asahikawa_covid19_patients.csv" title="旭川市新型コロナ陽性患者属性CSVをダウンロード" class="btn btn-primary">陽性患者属性CSVをダウンロード</a></p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">陽性患者属性CSVファイルのURL</h2>
        <div class="input-group">
          <input id="csv-url" type="text" class="form-control" value="https://ash-unofficial-covid19.herokuapp.com/012041_asahikawa_covid19_patients.csv">
        </div>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">データのライセンス</h2>
        <p class="card-text"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />この サイトのデータ は <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>の下に提供されています。</p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">陽性患者の属性（概要、全 {{ max_page }} ページ中 {{ page }} ページ目）</h2>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-nowrap">公表日</th>
                <th class="text-nowrap">居住地</th>
                <th class="text-nowrap">年代</th>
                <th class="text-nowrap">性別</th>
                <th class="text-nowrap">濃厚接触者の状況</th>
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
              <tr>
                <td>{{ row.publication_date }}</a></td>
                <td>{{ "非公表" if row.residence == "" else row.residence}}</td>
                <td>{{ "非公表" if row.age == "" else row.age}}</td>
                <td>{{ "非公表" if row.sex == "" else row.sex}}</td>
                <td>{{ row.close_contact }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      <section>
        <ul class="list-group list-group-horizontal small">
          {% if 1 < page %}
          {% for i in range(1, page) %}
          {% if loop.index == 1 %}
          <li class="list-group-item"><a href="/opendata/{{ page - 1 }}">&lt;&lt;</a></li>
          {% endif %}
          {% if page - 6 < i %}
          <li class="list-group-item"><a href="/opendata/{{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% endif %}
          <li class="list-group-item">{{ page }}</li>
          {% if page < max_page %}
          {% for i in range(page + 1, max_page + 1) %}
          {% if i < page + 6 %}
          <li class="list-group-item"><a href="/opendata/{{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          <li class="list-group-item"><a href="/opendata/{{ page + 1 }}">&gt;&gt;</a></li>
          {% endif %}
        </ul>
      </section>
    </div>
  </div>
</article>
<script charset="utf-8" src="{{ url_for('static', filename='js/select_input.js') }}"></script>
{% endblock %}
