{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h4 py-2">旭川市新型コロナウイルス感染症非公式オープンデータ</h1>
  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    <p class="mb-0">{{ last_updated }}にダウンロードしたデータを元に表示しています。最新の情報は<a class="alert-link" href="https://www.city.asahikawa.hokkaido.jp/10013/10014/070236.html" title="旭川市公式ホームページ" target="_blank">旭川市公式ホームページ <i class="fas fa-external-link-alt"></i></a>を確認してください。</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  <div class="card-group mt-3">
    <div class="card">
      <div class="card-header">
        <h2 class="h6 card-title mb-0">日別陽性患者数CSV</h2>
      </div>
      <div class="card-body">
        <p class="card-text">日ごとの新規感染者数です。</p>
        <h3 class="h6 card-title">データレイアウト</h3>
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Header</th>
              <th>Body</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>公表日</td>
              <td>報道発表日</td>
            </tr>
            <tr>
              <td>陽性患者数</td>
              <td>その日の陽性患者数の合計</td>
            </tr>
          </tbody>
        </table>
        <p class="card-text mt-3"><a href="/012041_asahikawa_covid19_daily_total.csv" title="旭川市新型コロナ日別陽性患者数CSVをダウンロード" class="btn btn-primary">日別陽性患者数CSVをダウンロード</a></p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="h6 card-title mb-0">日別陽性患者数JSON</h2>
      </div>
      <div class="card-body">
        <p class="card-text">日ごとの新規感染者数のJSONです。</p>
        <h3 class="h6 card-title">データレイアウト</h3>
        <pre class="border text-light bg-dark pre-scrollable p-3"><code>{
  "公表日 (YYYY-mm-dd)": 陽性患者数
}</code></pre>
        <p class="card-text mt-3"><a href="/api/daily_total.json" title="旭川市新型コロナ日別陽性患者数JSONをダウンロード" class="btn btn-primary">日別陽性患者数JSONをダウンロード</a></p>
      </div>
    </div>
  </div>
  <div class="card-group mt-3">
    <div class="card">
      <div class="card-header">
        <h2 class="h6 card-title mb-0">日別年代別陽性患者数CSV</h2>
      </div>
      <div class="card-body">
        <p class="card-text">日ごとの年代別新規感染者数です。</p>
        <h3 class="h6 card-title">データレイアウト</h3>
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Header</th>
              <th>Body</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>公表日</td>
              <td>報道発表日</td>
            </tr>
            <td>10歳未満</td>
            <td>その日の10歳未満の陽性患者数</td>
            </tr>
            <td>10代</td>
            <td>その日の10代の陽性患者数</td>
            </tr>
            <td>20代</td>
            <td>その日の20代の陽性患者数</td>
            </tr>
            <td>30代</td>
            <td>その日の30代の陽性患者数</td>
            </tr>
            <td>40代</td>
            <td>その日の40代の陽性患者数</td>
            </tr>
            <td>50代</td>
            <td>その日の50代の陽性患者数</td>
            </tr>
            <td>60代</td>
            <td>その日の60代の陽性患者数</td>
            </tr>
            <td>70代</td>
            <td>その日の70代の陽性患者数</td>
            </tr>
            <td>80代</td>
            <td>その日の80代の陽性患者数</td>
            </tr>
            <td>90歳以上</td>
            <td>その日の90歳以上の陽性患者数</td>
            </tr>
            <td>調査中等</td>
            <td>その日の調査中等の陽性患者数</td>
            </tr>
          </tbody>
        </table>
        <p class="card-text mt-3"><a href="/012041_asahikawa_covid19_daily_total_per_age.csv" title="旭川市新型コロナ日別年代別陽性患者数CSVをダウンロード" class="btn btn-primary">日別年代別陽性患者数CSVをダウンロード</a></p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="h6 card-title mb-0">日別年代別陽性患者数JSON</h2>
      </div>
      <div class="card-body">
        <p class="card-text">日ごとの年代別新規感染者数のJSONです。</p>
        <h3 class="h6 card-title">データレイアウト</h3>
        <pre class="border text-light bg-dark pre-scrollable p-3"><code>{
  "公表日 (YYYY-mm-dd)": {
    "age_under_10": 10歳未満の陽性患者数,
    "age_10s": 10代の陽性患者数,
    "age_20s": 20代の陽性患者数,
    "age_30s": 30代の陽性患者数,
    "age_40s": 40代の陽性患者数,
    "age_50s": 50代の陽性患者数,
    "age_60s": 60代の陽性患者数,
    "age_70s": 70代の陽性患者数,
    "age_80s": 80代の陽性患者数,
    "age_over_90": 90歳以上の陽性患者数,
    "investigating": 調査中等の陽性患者数
  }
}</code></pre>
        <p class="card-text mt-3"><a href="/api/daily_total_per_age.json" title="旭川市新型コロナ日別年代別陽性患者数JSONをダウンロード" class="btn btn-primary">日別年代別陽性患者数JSONをダウンロード</a></p>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h2 class="h5 card-title">新型コロナワクチン追加接種（オミクロン対応ワクチン）医療機関予約受付状況JSON</h2>
      <p class="card-text">新型コロナワクチン追加接種（オミクロン対応ワクチン）医療機関予約受付状況のJSONです。</p>
      <h3 class="h6 card-title">データレイアウト</h3>
      <pre class="border text-light bg-dark pre-scrollable p-3"><code>{
  "row0": {
      "area": "地区",
      "medical_institution_name": "医療機関名",
      "address": "住所",
      "phone_number": "電話番号",
      "vaccine": "接種するワクチン",
      "status": "予約受付開始時期",
      "inoculation_time": "接種可能時期",
      "target_age": "年齢",
      "is_target_family": かかりつけの方 (Boolean),
      "is_target_not_family": かかりつけ以外の方 (Boolean),
      "target_other": "その他",
      "memo": "備考"
  }
}</code></pre>
      <p class="card-text mt-3"><a href="/api/reservation_status.json" title="旭川市新型コロナワクチン追加接種（オミクロン対応ワクチン）医療機関予約受付状況をダウンロード" class="btn btn-primary">ワクチン追加接種（オミクロン対応ワクチン）予約受付状況JSONをダウンロード</a></p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h2 class="h5 card-title">新型コロナワクチン1・2回目接種医療機関予約受付状況JSON</h2>
      <p class="card-text">新型コロナワクチン1・2回目接種医療機関予約受付状況のJSONです。</p>
      <h3 class="h6 card-title">データレイアウト</h3>
      <pre class="border text-light bg-dark pre-scrollable p-3"><code>{
  "row0": {
      "area": "地区",
      "medical_institution_name": "医療機関名",
      "address": "住所",
      "phone_number": "電話番号",
      "status": "予約受付開始時期",
      "inoculation_time": "接種可能時期",
      "target_age": "年齢",
      "is_target_family": かかりつけの方 (Boolean),
      "is_target_not_family": かかりつけ以外の方 (Boolean),
      "is_target_suberb": 市外の方 (Boolean),
      "target_other": "その他",
      "memo": "備考"
  }
}</code></pre>
      <p class="card-text mt-3"><a href="/api/first_reservation_status.json" title="旭川市新型コロナワクチン1・2回目接種医療機関予約受付状況をダウンロード" class="btn btn-primary">ワクチン1・2回目接種予約受付状況JSONをダウンロード</a></p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h2 class="h5 card-title">新型コロナワクチン5～11歳接種医療機関予約受付状況JSON</h2>
      <p class="card-text">新型コロナワクチン5～11歳接種医療機関予約受付状況のJSONです。</p>
      <h3 class="h6 card-title">データレイアウト</h3>
      <pre class="border text-light bg-dark pre-scrollable p-3"><code>{
  "row0": {
      "area": "地区",
      "medical_institution_name": "医療機関名",
      "address": "住所",
      "phone_number": "電話番号",
      "vaccine": "接種するワクチン",
      "status": "予約受付開始時期",
      "inoculation_time": "接種可能時期",
      "target_age": "年齢",
      "is_target_family": かかりつけの方 (Boolean),
      "is_target_not_family": かかりつけ以外の方 (Boolean),
      "target_other": "その他",
      "memo": "備考"
  }
}</code></pre>
      <p class="card-text mt-3"><a href="/api/child_reservation_status.json" title="旭川市新型コロナワクチン5～11歳接種医療機関予約受付状況をダウンロード" class="btn btn-primary">ワクチン5～11歳接種予約受付状況JSONをダウンロード</a></p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">データのライセンス</h2>
        <p class="card-text"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="クリエイティブ・コモンズ・ライセンス" border=0 src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />この サイトのデータ は <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>の下に提供されています。</p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">更新履歴</h2>
        <ul>
          <li><ins datetime="2022-03-28T09:00:00+09:00" cite="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d074860_d/fil/0327-2.pdf">2022年3月26日発表分の感染者数の<a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d074860_d/fil/0327-2.pdf" title="報道発表資料の訂正について">訂正があった</a>ため、同日の感染者数を訂正しました。（訂正の発表内容からどの年代の感染者数に訂正があったか不明なため、最も人数の多い10歳未満の人数を1名減としました。）（2022年3月28日追記）</ins></li>
          <li><ins datetime="2021-09-27T09:00:00+09:00" cite="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d074697_d/fil/0220-2.pdf">2022年2月20日発表分の感染者数の<a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d074697_d/fil/0220-2.pdf" title="患者数の訂正について（2月21日）">訂正があった</a>ため、同日の感染者数を訂正しました。（訂正の発表内容からどの年代の感染者数に訂正があったか不明なため、調査中の人数を1名減としました。）（2022年2月27日追記）</ins></li>
          <li><ins cite="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d074504.html" datetime="2022-01-28T16:00:00+09:00">2022年1月27日発表分をもって旭川市が感染者ごとの情報の公表をやめたため、同日をもって陽性患者属性CSVの更新を停止しました。引き続き日別陽性患者数CSVは更新しますので、そちらをお使いください。</ins></li>
          <li><ins datetime="2021-09-25T09:00:00+09:00" cite="https://www.pref.hokkaido.lg.jp/fs/4/0/4/0/0/1/8/_/hokkaido_z0519.pdf">過去の重複事例（道内番号7354, 9147, 9182, 11058, 30809）を削除しました。（2021年9月25日追記）</ins></li>
          <li><ins datetime="2021-09-23T16:00:00+09:00" cite="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d073824_d/fil/09232.pdf">2021年9月22日報道発表の内容に<a href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d073824_d/fil/09232.pdf" title="訂正文">訂正があった</a>ため、市内番号3401を削除しました。（2021年9月23日追記）</ins></li>
          <li><ins datetime="2021-09-01T22:00:00+09:00">公表日について、これまで旭川市公式ホームページの判明日を公表日にセットしていましたが、今後は報道発表日をセットするよう変更しました。（2021年9月1日追記）</ins></li>
        </ul>
      </section>
    </div>
  </div>
</article>
{% endblock %}
