{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h4 py-2">{{ title }}</h1>
  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    <p class="mb-0">北海道公式ホームページからダウンロードした外来対応医療機関（発熱外来）データを検索できるようにしたシステムです。正確な情報や受診方法等は、必ず<a class="alert-link" href="https://www.pref.hokkaido.lg.jp/hf/kst/youkou.html" title="北海道公式ホームページ" target="_blank">北海道公式ホームページ <i class="fas fa-external-link-alt"></i></a>、<a class="alert-link" href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/136/150/d075831.html" title="旭川市公式ホームページ" target="_blank">旭川市公式ホームページ <i class="fas fa-external-link-alt"></i></a>を確認してください。（{{ last_updated }}更新）</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <figure class="mb-0">
      <blockquote cite="https://www.pref.hokkaido.lg.jp/fs/8/5/4/0/3/3/1/_/%E3%80%90%E6%97%AD%E5%B7%9D%E5%B8%82%E3%80%91%E8%A8%BA%E7%99%82%E3%83%BB%E6%A4%9C%E6%9F%BB%E5%8C%BB%E7%99%82%E6%A9%9F%E9%96%A2(R5.5.24).xlsx" class="blockquote">
        <p class="mb-0 h6">院内感染を防止するため、必ず、事前に電話またはWeb上で予約してください。</p>
        <p class="mb-0 h6">本表にかかりつけ医療機関が掲載されていない（又はかかりつけ医がいない）場合は、「かかりつけ患者の診療に限る」としている医療機関への連絡はご遠慮いただき、相談窓口へ連絡してください。</p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0">
        <cite title="北海道公式ホームページ">北海道公式ホームページより</cite>
      </figcaption>
    </figure>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section id="gpsMap">
        <h2 class="h5 card-title mb-3">現在地から近い新型コロナ発熱外来の地図</h2>
        <p class="card-text">地図は目安となっています。正確な場所の情報は各医療機関のホームページ等でご確認ください。</p>
        <table class="table table-bordered table-sm small caption-top">
          <caption>地図の凡例</caption>
          <tbody>
            <tr>
              <td class="map_primary_icon align-middle text-center"><i class='fas fa-map-marker-alt'></i></td>
              <th class="align-middle">かかりつけ患者以外の診療可</th>
            </tr>
            <tr>
              <td class="map_warning_icon align-middle text-center"><i class='fas fa-map-marker-alt'></i></td>
              <th class="align-middle">かかりつけ患者の診療に限る</th>
            </tr>
          </tbody>
        </table>
        <div id="mapid" class="m-3"></div>
        <p class="card-text small">医療機関の位置情報は、<a href="https://developer.yahoo.co.jp/webapi/map/" title="Yahoo! Open Local Platform" target="_blank">Yahoo! Open Local Platform (YOLP)</a>のYahoo!ローカルサーチAPI及び<a href="https://www.harp.lg.jp/opendata/dataset/1243.html" title="北海道オープンデータポータル">北海道オープンデータポータルの道内医療機関一覧（位置情報付き）</a>を使用して取得しています。
          <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
          <a href="https://developer.yahoo.co.jp/sitemap/"><img src="https://s.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN" alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0"></a>
          <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
        </p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title mb-3">現在地から近い新型コロナ発熱外来の一覧</h2>
        <p class="card-text d-block d-sm-none"><i class="far fa-hand-point-right"></i> 横にスクロールできます。</p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-nowrap">近い順</th>
                <th class="text-nowrap">医療機関名</th>
                <th class="text-nowrap">かかりつけ以外</th>
                <th class="text-nowrap">小児対応</th>
                <th class="text-nowrap">住所</th>
                <th class="text-nowrap">距離</th>
              </tr>
            </thead>
            <tbody id="results" data-length="{{ search_lengths|tojson }}" data-currentlatitude="{{ current_latitude|tojson }}" data-currentlongitude="{{ current_longitude|tojson }}">
              {% for search_result in search_results %}
              <tr id="order{{ loop.index }}" data-latitude="{{ search_result["location"].latitude|tojson }}" data-longitude="{{ search_result["location"].longitude|tojson }}" data-name="{{ search_result["location"].medical_institution_name|safe }}" data-url="{{ search_result["location"].medical_institution_name_url|safe }}" data-address="{{ search_result["location"].address|safe }}" data-istargetnotfamily="{{ search_result["location"].is_target_not_family|safe }}" data-ispediatrics="{{ search_result["location"].is_pediatrics|safe }}" data-mon="{{ search_result["location"].mon|safe }}" data-tue="{{ search_result["location"].tue|safe }}" data-wed="{{ search_result["location"].wed|safe }}" data-thu="{{ search_result["location"].thu|safe }}" data-fri="{{ search_result["location"].fri|safe }}" data-sat="{{ search_result["location"].sat|safe }}" data-sun="{{ search_result["location"].sun|safe }}" data-memo="{{ search_result["location"].memo|safe }}">
                <td class="text-nowrap text-center">{{ search_result["order"] }}</td>
                <td class="text-nowrap">
                  <a href="/outpatient/medical_institution/{{ search_result["location"].medical_institution_name_url }}" title="{{ search_result["location"].medical_institution_name }}">{{ search_result["location"].medical_institution_name }}</a>
                </td>
                {% if search_result["location"].is_target_not_family is none %}
                  <td></td>
                {% elif search_result["location"].is_target_not_family %}
                  <td class="text-nowrap">OK</td>
                {% else %}
                  <td class="text-nowrap">NG</td>
                {% endif %}
                {% if search_result["location"].is_pediatrics is none %}
                  <td></td>
                {% elif search_result["location"].is_pediatrics %}
                  <td class="text-nowrap">OK</td>
                {% else %}
                  <td class="text-nowrap">NG</td>
                {% endif %}
                <td class="text-nowrap">
                  {{ search_result["location"].address }}<br>
                </td>
                <td class="text-nowrap">
                  {{ search_result["distance"] }}km
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="card-text mt-3">距離は現在地からの直線距離で算出しているため、実際の道路状況によっては結果が異なりますのでご注意ください。</p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h3 class="h5 card-title mb-3">他の条件で新型コロナ発熱外来を探す</h3>
        <p class="display-5 p-3 text-center"><a href="/outpatients" title="旭川市新型コロナ発熱外来検索アプリへ" class="link-secondary"><i class="fas fa-hospital-user fa-lg"></i></a></p>
        <p class="text-center"><a href="/outpatients" title="旭川市新型コロナ発熱外来検索アプリへ" class="btn btn-light">発熱外来検索アプリへ</a></p>
      </section>
    </div>
  </div>
</article>
<script charset="utf-8" src="{{ url_for('static', filename='js/show_map_outpatient.js') }}"></script>
{% endblock %}