{% extends 'layout_outpatient.html' %}
{% block content %}
<article id="medicalInstitutionMap">
  <div class="m-4">
    {% for search_result in search_results %}
    <section>
      <h1 class="h6 mb-4">{{ title }}</h1>
      <table class="table table-sm small mb-4" id="results" data-length="{{ search_lengths|tojson }}">
        <tbody>
          <tr id="order{{ loop.index }}" data-latitude="{{ search_result.latitude|tojson }}" data-longitude="{{ search_result.longitude|tojson }}" data-name="{{ search_result.medical_institution_name|safe }}" data-url="{{ search_result.medical_institution_name_url|safe }}" data-address="{{ search_result.address|safe }}" data-istargetnotfamily="{{ search_result.is_target_not_family|safe }}" data-ispediatrics="{{ search_result.is_pediatrics|safe }}" data-mon="{{ search_result.mon|safe }}" data-tue="{{ search_result.tue|safe }}" data-wed="{{ search_result.wed|safe }}" data-thu="{{ search_result.thu|safe }}" data-fri="{{ search_result.fri|safe }}" data-sat="{{ search_result.sat|safe }}" data-sun="{{ search_result.sun|safe }}" data-memo="{{ search_result.memo|safe }}" data-phonenumber="{{ search_result.phone_number|safe }}">
            <th>かかりつけ患者以外の診療</th>
            {% if search_result.is_target_not_family is none %}
            <td></td>
            {% elif search_result.is_target_not_family %}
            <td>OK</td>
            {% else %}
            <td>NG</td>
            {% endif %}
          </tr>
          <tr>
            <th>小児対応</th>
            {% if search_result.is_pediatrics is none %}
            <td></td>
            {% elif search_result.is_pediatrics %}
            <td>OK</td>
            {% else %}
            <td>NG</td>
            {% endif %}
          </tr>
          <tr>
            <th>所在地</th><td>{{ search_result.address }}</td>
          </tr>
          <tr>
            <th>電話番号</th><td>{{ search_result.phone_number }}</td>
          </tr>
          <tr>
            <th>診療時間</th>
            <td>
              <table class="table table-striped table-sm p-0 mb-0">
                <tbody>
                  <tr><th>月曜日</th><td>{{ search_result.mon }}</td></tr>
                  <tr><th>火曜日</th><td>{{ search_result.tue }}</td></tr>
                  <tr><th>水曜日</th><td>{{ search_result.wed }}</td></tr>
                  <tr><th>木曜日</th><td>{{ search_result.thu }}</td></tr>
                  <tr><th>金曜日</th><td>{{ search_result.fri }}</td></tr>
                  <tr><th>土曜日</th><td>{{ search_result.sat }}</td></tr>
                  <tr><th>日曜日</th><td>{{ search_result.sun }}</td></tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <th>備考</th>
            <td>{{ search_result.memo }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      {% if search_result.is_positive_patients %}
      <h2 class="h6 mb-4">陽性者（療養者）の治療の情報</h2>
      <table class="table table-sm small mb-4">
        <tbody>
          <tr>
            <th>外来対応（対面）</th>
            {% if search_result.is_face_to_face_for_positive_patients is none %}
            <td></td>
            {% elif search_result.is_face_to_face_for_positive_patients %}
            <td>OK</td>
            {% else %}
            <td>NG</td>
            {% endif %}
          </tr>
          <tr>
            <th>オンライン診療（電話診療を含む）</th>
            {% if search_result.is_online_for_positive_patients is none %}
            <td></td>
            {% elif search_result.is_online_for_positive_patients %}
            <td>OK</td>
            {% else %}
            <td>NG</td>
            {% endif %}
          </tr>
          <tr>
            <th>訪問診療</th>
            {% if search_result.is_home_visitation_for_positive_patients is none %}
            <td></td>
            {% elif search_result.is_home_visitation_for_positive_patients %}
            <td>OK</td>
            {% else %}
            <td>NG</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
      {% endif %}
    </section>
    {% endfor %}
    <div id="mapid" class="mb-4"></div>
    <p class="small">医療機関の位置情報は、<a href="https://developer.yahoo.co.jp/webapi/map/" title="Yahoo! Open Local Platform" target="_blank">Yahoo! Open Local Platform (YOLP)</a>のYahoo!ローカルサーチAPI及び<a href="https://www.harp.lg.jp/opendata/dataset/1243.html" title="北海道オープンデータポータル" target="_blank">北海道オープンデータポータルの道内医療機関一覧（位置情報付き）</a>を使用して取得しています。（正確な場所の情報は各医療機関のホームページ等でご確認ください。）
    <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
    <a href="https://developer.yahoo.co.jp/sitemap/">
      <img src="https://s.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN" alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0">
    </a>
    <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
    </p>
  </div>
</article>
{% endblock %}