{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h4">旭川市の新型コロナワクチン3回目接種の予約受付状況</h1>
  <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <p class="mb-0">{{ last_updated }}にダウンロードしたデータを元に表示しています。正確な情報は必ず<a class="alert-link"
        href="https://www.city.asahikawa.hokkaido.jp/kurashi/135/146/149/d072466.html" title="旭川市公式ホームページ"
        target="_blank">旭川市公式ホームページ</a>を確認してください。</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">予約受付状況の一覧</h2>
        <p class="card-text">旭川市の新型コロナワクチン接種医療機関の3回目接種予約受付状況の一覧です。医療機関名のリンクから予約受付状況の詳細を確認できます。</p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-nowrap">予約受付状況</th>
                <th class="text-nowrap">医療機関名</th>
                <th class="text-nowrap">住所</th>
                <th class="text-nowrap">備考</th>
              </tr>
            </thead>
            <tbody id="results" data-length="{{ search_lengths|tojson }}">
              {% for search_result in search_results %}
              <tr id="order{{ loop.index }}" data-latitude="{{ search_result[0].latitude|tojson }}"
                data-longitude="{{ search_result[0].longitude|tojson }}" data-name="{{ search_result[0].medical_institution_name|safe }}"
                data-url="{% if is_pediatric %}pediatrics/{% endif %}{{ search_result[1]|safe }}">
                <td class="text-nowrap">
                  {% if search_result[0].status == "" %}
                  情報なし
                  {% else %}
                  {{ search_result[0].status }}
                  {% endif %}
                </td>
                <td class="text-nowrap">
                  <a href="/reservation3_statuses/{{ search_result[1] }}"
                    title="{{ search_result[0].medical_institution_name }}へ">{{
                    search_result[0].medical_institution_name }}</a>
                </td>
                <td class="text-nowrap">{{ search_result[0].address }}</td>
                <td class="text-nowrap">{{ search_result[0].memo }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">場所から探す</h2>
        <p class="card-text">地図のポップアップのリンクから新型コロナワクチン3回目接種医療機関の詳細情報を確認できます。（地図の表示はあくまで目安ですので、正確な場所の情報は各医療機関のホームページ等でご確認ください。）</p>
        <div id="mapid" class="mb-3"></div>
        <p class="card-text small">医療機関の位置情報は、<a href="https://developer.yahoo.co.jp/webapi/map/"
            title="Yahoo! Open Local Platform" target="_blank">Yahoo! Open Local Platform (YOLP)
          </a>のYahoo!ローカルサーチAPIを使用して取得しています。
          <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
          <a href="https://developer.yahoo.co.jp/sitemap/">
            <img src="https://s.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN"
              alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0"></a>
          <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
        </p>
      </section>
    </div>
  </div>
</article>
<script charset="utf-8" src="{{ url_for('static', filename='js/show_map_reservation3.js') }}"></script>
{% endblock %}