{% extends 'layout.html' %}
{% block content %}
<article>
  <h1 class="h4 py-2">{{ title }}</h1>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p class="mb-0">{{ last_updated }}にダウンロードしたデータを元に表示しています。最新の情報は<a class="alert-link"
        href="https://asahikawa-vaccine.jp/" title="旭川市 新型コロナワクチン接種特設サイト"
        target="_blank">旭川市 新型コロナワクチン接種特設サイト <i class="fas fa-external-link-alt"></i></a>を確認してください。</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% for search_result in search_results %}
    {% if loop.index == 1 %}
      <div class="card">
        <div class="card-body">
          <section>
            <h2 class="h5 card-title">医療機関の情報</h2>
            <table class="table table-bordered" id="results" data-length="{{ search_lengths|tojson }}">
              <tbody>
                <tr>
                  <th class="table-active text-nowrap">所在地</th><td>{{ search_result.address }}</td>
                </tr>
                <tr>
                  <th class="table-active text-nowrap">電話番号</th><td>{{ search_result.phone_number }}</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    {% endif %}
    <div class="card mt-3">
      <div class="card-body">
        <section>
          <h2 class="h5 card-title">{{ search_result.vaccine }}の予約受付状況（3回目接種）</h2>
          <table class="table">
            <tbody>
              <tr id="order{{ loop.index }}" data-latitude="{{ search_result.latitude|tojson }}" data-longitude="{{ search_result.longitude|tojson }}" data-name="{{ search_result.medical_institution_name|safe }}" data-url="{{ search_result.medical_institution_name_url|safe }}" data-vaccine="{{ search_result.vaccine|safe }}" data-istargetnotfamily="{{ search_result.is_target_not_family|safe }}" data-status="{{ search_result.status|safe }}">
                <th class="text-nowrap">予約受付開始時期</th><td>{{ search_result.status }}</td>
              </tr>
              <tr>
                <th class="text-nowrap">接種可能時期</th><td>{{ search_result.inoculation_time }}</td>
              </tr>
              <tr>
                <th class="text-nowrap">年齢</th><td>{{ search_result.target_age }}</td>
              </tr>
              <tr>
                <th class="text-nowrap">かかりつけ以外</th>
                {% if search_result.is_target_not_family is none %}
                  <td></td>
                {% elif search_result.is_target_not_family %}
                  <td>OK</td>
                {% else %}
                  <td>NG</td>
                {% endif %}
              </tr>
              <tr>
                <th class="text-nowrap">その他条件</th>
                <td>{{ search_result.target_other }}</td>
              </tr>
              <tr>
                <th class="text-nowrap">備考</th>
                <td>{{ search_result.memo }}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  {% endfor %}
  <div class="card mt-3">
    <div class="card-body">
      <section id="medicalInstitutionMap">
        <h2 class="h5 card-title">{{ medical_institution }}の地図</h2>
        <p class="card-text">地図の表示は目安となっています。正確な場所の情報は各医療機関のホームページ等でご確認ください。</p>
        <div id="mapid" class="mb-3"></div>
        <p class="card-text small">医療機関の位置情報は、<a href="https://developer.yahoo.co.jp/webapi/map/"
            title="Yahoo! Open Local Platform" target="_blank">Yahoo! Open Local Platform (YOLP)
          </a>のYahoo!ローカルサーチAPIを使用して取得しています。
          <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
          <a href="https://developer.yahoo.co.jp/sitemap/">
            <img src="https://s.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN"
              alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0"></a>
          <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
        </p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h2 class="h5 card-title">{{ medical_institution }}と同じ地区の医療機関（3回目接種）を探す</h2>
        <p class="card-text"><a href="/reservation_status/area/{{ search_results[0].area_url }}" title="{{ search_results[0].area }}の新型コロナワクチン3回目接種医療機関一覧へ">{{ search_results[0].area }}の医療機関（3回目接種）一覧へ</a></p>
      </section>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <section>
        <h3 class="h5 card-title">他の条件で医療機関（3回目接種）を探す</h3>
        <p class="card-text"><a href="/reservation_statuses" title="コロナワクチンマップ（3回目接種）へ">コロナワクチンマップ（3回目接種）へ</a></p>
      </section>
    </div>
  </div>
</article>
<script charset="utf-8" src="{{ url_for('static', filename='js/show_map_reservation.js') }}"></script>
{% endblock %}