{% extends 'layout_reservation.html' %}
{% block content %}
<article id="areaMap">
  <div class="m-4">
    <h1 class="h5 m-4">{{ title }}</h1>
    <table class="table table-bordered table-sm small caption-top mb-4">
      <caption>凡例</caption>
      <tbody>
        <tr>
          <td class="map_primary_icon align-middle text-center"><i class='fas fa-map-marker-alt'></i></td>
          <td class="align-middle">かかりつけ患者以外OK</td>
        </tr>
        <tr>
          <td class="map_warning_icon align-middle text-center"><i class='fas fa-map-marker-alt'></i></td>
          <td class="align-middle">かかりつけ患者以外NG</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="mapid"></div>
  <p class="small m-4">
  医療機関の位置情報は、<a href="https://developer.yahoo.co.jp/webapi/map/" title="Yahoo! Open Local Platform" target="_blank">Yahoo! Open Local Platform (YOLP)</a>のYahoo!ローカルサーチAPI及び<a href="https://www.harp.lg.jp/opendata/dataset/1243.html" title="北海道オープンデータポータル" target="_blank">北海道オープンデータポータルの道内医療機関一覧（位置情報付き）</a>を使用して取得しています。（正確な場所の情報は各医療機関のホームページ等でご確認ください。）
  <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
  <a href="https://developer.yahoo.co.jp/sitemap/">
    <img src="https://s.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN" alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0">
  </a>
  <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
  </p>
  <div class="m-4">
    <section>
      <p class="d-block d-sm-none"><img src="{{ url_for('static', filename='images/arrow_right_line.svg') }}" alt="右を差すアイコン" width="16" height="16"> 横にスクロールできます。</p>
      <div class="table-responsive">
        <table class="table table-bordered table-sm small mb-0">
          <thead>
            <tr>
              <th class="text-nowrap">
                医療機関名<br>
                接種種別<br>
                使用ワクチン<br>
                住所<br>
                電話番号<br>
              </th>
              <th class="text-nowrap">予約開始時期</th>
              <th class="text-nowrap">接種開始時期</th>
              <th class="text-nowrap">かかりつけ以外</th>
              <th class="text-nowrap">市外の方</th>
              <th class="text-nowrap">備考</th>
            </tr>
          </thead>
          <tbody id="results" data-length="{{ search_lengths|tojson }}">
            {% for search_result in search_results %}
            <tr id="order{{ loop.index }}" data-latitude="{{ search_result.latitude|tojson }}" data-longitude="{{ search_result.longitude|tojson }}" data-name="{{ search_result.medical_institution_name|safe }}" data-url="{{ search_result.medical_institution_name_url|safe }}" data-division="{{ search_result.division|safe }}" data-vaccine="{{ search_result.vaccine|safe }}" data-istargetnotfamily="{{ search_result.is_target_not_family|safe }}" data-status="{{ search_result.status|safe }}">
              <td class="text-nowrap">
                <strong><a href="../medical_institution/{{ search_result.medical_institution_name_url }}" title="{{ search_result.medical_institution_name }}">{{ search_result.medical_institution_name }}</a></strong><br>
                <strong class="text-dark">{{ search_result.division }}</strong><br>
                {{ search_result.vaccine }}<br>
                {{ search_result.address }}<br>
                {{ search_result.phone_number }}<br>
              </td>
              <td class="text-nowrap">{{ search_result.status }}</td>
              <td class="text-nowrap">{{ search_result.inoculation_time }}</td>
              {% if search_result.is_target_not_family is none %}
              <td></td>
              {% elif search_result.is_target_not_family %}
              <td class="text-nowrap">OK</td>
              {% else %}
              <td class="text-nowrap">NG</td>
              {% endif %}
              {% if search_result.is_target_suberb is none %}
              <td></td>
              {% elif search_result.is_target_suberb %}
              <td class="text-nowrap">OK</td>
              {% else %}
              <td class="text-nowrap">NG</td>
              {% endif %}
              <td class="text-nowrap">
                <p>{{ search_result.memo }}</p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</article>
{% endblock %}